.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.body-item mat-dialog-content {
  height: 300px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.remove-button {
  width: 1%;
  background-color: white;
  border: none;
}