input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

button {
    margin-top: 16px;
    margin-right: 2px;
}

button:hover {
    opacity: 0.9;
}

.edit-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.delete-button {
    background-color: #ba0000;
}

.save-button {
    background-color: #377b39;
}

.save-button-disabled {
    background-color: #a5d3a3;
}