table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.edit,
.manage {
  width: 30px;
  padding: 5px;
  background-color: white;
  border: none;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  border: 2px solid lightgrey;
  background-color: #fff;
  color: #fff;
  font-size: 8px;
  height: 3.5em;
  width: 3.5em;
  border-radius: 999px;
}

.icon {
  display: inline-flex;
  vertical-align: middle;
  padding-top: 3px;
  font-size: medium;
}

button:hover {
  opacity: 0.9;
}

.show-button {
  background-color: #008CBA;
}

.edit-button {
  background-color: #653a95;
}