.add-button {
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 8px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
    margin-bottom: 10px;
}

button:hover {
    opacity: 0.9;
	background-color: #377b39;
	color: #fff;
}